<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/layout">
<head>
   <title>LEMON后台管理系统 - 项目列表</title>
</head>

<body class="page-body skin-navy">
	<!-- 右侧引导项目 -->
	<div class="page-title" layout:fragment="navigation" th:include="fragments/resource::page-navigation (项目列表)">
		
	</div>
	
	<!-- 具体页面内容 -->
	<div class="content" layout:fragment="content">
	  <form class="form-inline panel-search" autocomplete="off">
		<div class="form-group">
	  		<label class="control-label" for="surl">项目代号</label>
			<input type="text" class="form-control" id="scode" name="code" />
		</div>
	  	<div class="form-group">
	  		<label class="control-label" for="sname">项目名称</label>
			<input type="text" class="form-control" id="sname" name="name" />
		</div>
		<div class="form-group">
			<button id="search" type="button" class="btn btn-info btn-single btn-icon">
				<i class="fa-search"></i>
				<span>查询</span>
			</button>
		</div>
	  </form>
	  <div id="btnlist" class="btn-group btn-group-sm btn-tool">
		<button class="btn btn-default btn-icon append">
			<i class="fa-plus"></i>
			<span>添加</span>
		</button>
		<button class="btn btn-default btn-icon modify">
			<i class="fa-edit"></i>
			<span>修改</span>
		</button>
		<button class="btn btn-default btn-icon delete">
			<i class="fa-trash-o"></i>
			<span>删除</span>
		</button>
		<button class="btn btn-default btn-icon view">
			<i class="fa-file-text-o"></i>
			<span>详情</span>
		</button>
	</div>
	<!-- 数据列表展示 hidden-->
	<table id="table" data-toggle="table" data-toolbar="#btnlist" data-url='/project/pager' data-mobile-responsive="true" data-sort-name="sort" data-sort-order="desc" data-show-export="true">
		<thead>
			<tr>
				<th data-checkbox="true" class="hidden"></th>  <!-- class="hidden" -->
				<th data-field="id" data-width="10%">编号</th>
				<th data-field="code" data-width="20%">项目代号</th>
				<th data-field="name" data-width="20%">项目名称</th>
				<th data-field="creator" data-width="20%">创建人员</th>
				<th data-field="createdDate" data-width="20%">创建时间</th>
				<th data-field="operate" data-width="10%" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
			</tr>
		</thead>
	</table>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function(){
		$("#btnlist").on("click",".append", function () { 
			appendItem('/project/add', '添加项目');
		});
		$("#btnlist").on("click",".modify", function () { 
			modifyItem('table','/project/edit/', '修改项目');
		});
		$("#btnlist").on("click",".delete", function () { 
			deleteItem('table', '/project/delete/', '是否删除项目');
		});
		$("#btnlist").on("click",".view", function () { 
			viewItem('table', '/project/view/', '项目详情');
		});
		$("#search").on("click", function () {
			$('#table').bootstrapTable('refresh');
		});
	});
		
	function operateFormatter(value, row, index) {
		var spArray = new Array();
		spArray.push('<i class="action fa-edit modify" title="修改"></i>');
		spArray.push('<i class="action fa-trash-o delete" title="删除"></i>');
        return "<span>"+ spArray.join('')+ "</span>";
    }
	
	var operateEvents = {
            'click .modify': function (e, value, row, index) {
            	modifyItem('table','/project/edit/', '修改项目', index);
        	},
            'click .delete': function (e, value, row, index) {
            	deleteItem('table', '/project/delete/', '是否删除项目', index);
        	}
        };
	/*]]>*/
	</script>
	</div>
</body>
</html>