<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<!-- 表单用户 -->
	<!-- <div class="panel"> -->
	<form role="form" id="roleform" class="validate form-horizontal" autocomplete="off" th:object="${user}">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="mobile">手机号</label>
			<div class="col-sm-6">
				<input type="hidden" id="userId" name="userId" th:field="*{userId}"></input>
				<input type="text" class="form-control" id="mobile" name="mobile" th:field="*{mobile}" readonly="readonly"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="nickName">昵称</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="nickName" name="nickName" th:field="*{nickName}" readonly="readonly"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="realName">真实姓名</label>
			<div class="col-sm-6">
				<input type="text" class="form-control required" id="realName" name="realName" th:field="*{realName}" placeholder="请输入真实姓名"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="cardType">证件类型</label>
			<div class="col-sm-6">
				<select class="form-control selectpicker required" id="cardType" name="cardType" th:field="*{cardType}">
					<option value="0">身份证</option>
					<option value="1">护照</option>
					<option value="2">军官证</option>
					<option value="3">港澳通行证</option>
					<option value="4">台湾通行证</option>
					<option value="5">其他证件</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="cardNo">证件号码</label>
			<div class="col-sm-6">
				<input type="text" class="form-control required" id="cardNo" name="cardNo" th:field="*{cardNo}" placeholder="请输入证件号码"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="audited5">认证结果</label>
			<div class="col-sm-6">
				<label class="radio-label">
					<input type="radio" id="audited5" name="audited" checked="checked" value="5"/>
					不通过
				</label>
				&nbsp;
				<label class="radio-label">
					<input type="radio" id="audited9" name="audited" value="9"/>
					通过
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="remark">备注说明</label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="3" id="remark" name="remark" th:field="*{remark}"></textarea>
			</div>
		</div>
	</form>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function(){
		init_module();
		$("#roleform").validate({
			submitHandler:function(form){
				$.post("/user/audited", $(form).serialize(), function(result){
					if (result.meta.code=="2000") {
						toastr.success(result.meta.message);
						BootstrapDialog.close(form);
			        	$("#table").bootstrapTable("refresh");
					} else {
						toastr.error(result.meta.message);
					}
				});
			}
	   });
	});
	/*]]>*/
	</script>
</html>