<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="后台管理系统" />
   <meta name="author" content="lonyee" />
   <title>LEMON后台管理系统 - 登录</title>
   <div th:include="fragments/resource::stylesheet"></div>
   
</head>
<body class="page-body lockscreen-page login-light">
	<div class="login-container">
	
		<div class="row">
		
			<div class="col-sm-7">
				
				<form role="form" id="lockscreen" class="lockcreen-form fade-in-effect">
					
					<div class="user-thumb">
						<a href="#">
							<img src="/assets/images/user-5.png" class="img-responsive img-circle" />
						</a>
					</div>
					
					<div class="form-group">
						<h3><span id="nick">龙佚</span>，欢迎回来!</h3>
						<p>请输入登录密码进入系统</p>
						
						<div class="input-group">
							<input type="password" class="form-control input-info" name="passwd" id="passwd" placeholder="密码" />
							<span class="input-group-btn">
								<button type="submit" class="btn btn-info">进入系统</button>
							</span>
						</div>
					</div>
					
				</form>
				
			</div>
			
		</div>
		
	</div>
	
   	<div th:include="fragments/resource::javascript"></div>
	<script type="text/javascript">
		jQuery(document).ready(
			function($) {
				// Reveal Login form
				setTimeout(function() {
					$(".fade-in-effect").addClass('in');
				}, 1);
	
				// Clicking on thumbnail will focus on password field
				$(".user-thumb a").on('click', function(ev) {
					ev.preventDefault();
					$("#passwd").focus();
				});
				
				var jsoninfo = localStorage.getItem("userinfo");
				if (!jsoninfo) {
					location.replace("/login");
					return;
				}
				var userinfo = JSON.parse(jsoninfo);
				$("#nick").html(userinfo.nickName);
	
				$(".lockcreen-form").validate({
					rules : {
						passwd : {
							required : true
						}
					},
					messages : {
						passwd : {
							required : '请输入登录密码'
						}
					},
					submitHandler : function(form) {
						show_loading_bar(70);
						var $passwd = $(form).find('#passwd');
						$.post("/user/unlock", {token: userinfo.token, mobile: userinfo.mobile, password: $passwd.val()}, function(result){
			            	if (result.meta.code==2000) {
			            		var redirect_url = $.getUrlParam("redirect_url");
			            		if (redirect_url) {
			            			location.replace(decodeURIComponent(redirect_url));
			            		} else { 
				    				location.replace("/index");
			            		}
			    			} else {
			    				toastr.error(result.meta.message);
			    			}
			            });
					}
			});
			$("form#lockscreen .form-group:has(.form-control):first .form-control").focus();
		});
	</script>
</body>
</html>