<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="后台管理系统" />
   <meta name="author" content="lonyee" />
   <title>LEMON后台管理系统 - 登录</title>
   <div th:include="fragments/resource::stylesheet"></div>
   
</head>
<body class="page-body lockscreen-page login-light">
	<div class="login-container">
	
		<div class="row">
		
			<div class="col-sm-7">
				
				<form role="form" id="lockscreen" class="lockcreen-form fade-in-effect">
					
					<div class="user-thumb">
						<a href="#">
							<img src="assets/images/user-5.png" class="img-responsive img-circle" />
						</a>
					</div>
					
					<div class="form-group">
						<h3>龙佚，欢迎回来!</h3>
						<p>请输入登录密码进入系统</p>
						
						<div class="input-group">
							<input type="password" class="form-control input-info" name="passwd" id="passwd" placeholder="密码" />
							<span class="input-group-btn">
								<button type="submit" class="btn btn-info">进入系统</button>
							</span>
						</div>
					</div>
					
				</form>
				
			</div>
			
		</div>
		
	</div>
	
   	<div th:include="fragments/resource::javascript"></div>
	<script type="text/javascript">
		jQuery(document)
				.ready(
						function($) {
							// Reveal Login form
							setTimeout(function() {
								$(".fade-in-effect").addClass('in');
							}, 1);

							// Clicking on thumbnail will focus on password field
							$(".user-thumb a").on('click', function(ev) {
								ev.preventDefault();
								$("#passwd").focus();
							});

							// Form validation and AJAX request
							$(".lockcreen-form")
									.validate(
											{
												rules : {
													passwd : {
														required : true
													}
												},

												messages : {
													passwd : {
														required : '请输入登录密码'
													}
												},

												submitHandler : function(form) {
													show_loading_bar(70); // Fill progress bar to 70% (just a given value)

													var $passwd = $(form).find(
															'#passwd'), opts = {
														"closeButton" : true,
														"debug" : false,
														"positionClass" : "toast-top-full-width",
														"onclick" : null,
														"showDuration" : "300",
														"hideDuration" : "1000",
														"timeOut" : "5000",
														"extendedTimeOut" : "1000",
														"showEasing" : "swing",
														"hideEasing" : "linear",
														"showMethod" : "fadeIn",
														"hideMethod" : "fadeOut"
													};

													$
															.ajax({
																url : "data/login-check.php",
																method : 'POST',
																dataType : 'json',
																data : {
																	do_login : true,
																	username : 'demo', // user is known in this case
																	passwd : $passwd
																			.val(),
																},
																success : function(
																		resp) {
																	show_loading_bar({
																		delay : .5,
																		pct : 100,
																		finish : function() {

																			if (resp.accessGranted) {
																				// Redirect after successful login page (when progress bar reaches 100%)
																				window.location.href = 'dashboard-1.html';
																			} else {
																				toastr
																						.error(
																								"You have entered wrong password, please try again. Password is <strong>demo</strong> :)",
																								"Invalid Login!",
																								opts);
																				$passwd
																						.select();
																			}
																		}
																	});
																}
															});
												}
											});

							// Set Form focus
							$(
									"form#lockscreen .form-group:has(.form-control):first .form-control")
									.focus();
						});
	</script>
</body>
</html>