<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="fragments/layout">
<head>
   <title>LEMON后台管理系统 - 消息模板列表</title>
</head>

<body class="page-body skin-navy">
	<!-- 右侧引导消息模板 -->
	<div class="page-title" layout:fragment="navigation" th:include="fragments/resource::page-navigation (消息模板列表)">
		
	</div>
	
	<!-- 具体页面内容 -->
	<div class="content" layout:fragment="content">
	  <form class="form-inline panel-search" autocomplete="off">
		<div class="form-group">
	  		<label class="control-label" for="spushMethod">推送方式</label>
			<select class="form-control selectpicker required" id="spushMethod" name="pushMethod">
				<option value="">全部</option>
				<option th:each="pushMethod: ${pushMethods}" th:value="${pushMethod.type}" th:text="${pushMethod.name}">pushMethod</option>
			</select>
		</div>
	  	<div class="form-group">
	  		<label class="control-label" for="skeyword">关键词</label>
			<input type="text" class="form-control" id="skeyword" name="keyword"/>
		</div>
		<div class="form-group">
			<button id="search" type="button" class="btn btn-info btn-single btn-icon">
				<i class="fa-search"></i>
				<span>查询</span>
			</button>
		</div>
	  </form>
	  <div id="btnlist" class="btn-group btn-group-sm btn-tool">
		<button class="btn btn-default btn-icon append">
			<i class="fa-plus"></i>
			<span>添加</span>
		</button>
		<button class="btn btn-default btn-icon modify">
			<i class="fa-edit"></i>
			<span>修改</span>
		</button>
		<button class="btn btn-default btn-icon delete">
			<i class="fa-trash-o"></i>
			<span>删除</span>
		</button>
		<button class="btn btn-default btn-icon view">
			<i class="fa-file-text-o"></i>
			<span>详情</span>
		</button>
	</div>
	<!-- 数据列表展示 hidden-->
	<table id="table" data-toggle="table" data-toolbar="#btnlist" data-url='/message/template/pager' data-mobile-responsive="true" data-sort-name="sort" data-sort-order="desc" data-show-export="true">
		<thead>
			<tr>
				<th data-checkbox="true" class="hidden"></th>  <!-- class="hidden" -->
				<th data-field="id" data-width="10%">编号</th>
				<th data-field="templateId" data-width="10%" data-visible="false">消息模板ID</th>
				<th data-field="message" data-width="12%">消息类型</th>
				<th data-field="pushMethod" data-width="5%" data-align="center" data-formatter="pushMethodFormatter">推送方式 </th>
				<th data-field="sendTo" data-width="10%">接收方</th>
				<th data-field="userId" data-width="10%">接收人员ID</th>
				<th data-field="url" data-width="10%">访问地址</th>
				<th data-field="scheduleTime" data-width="10%">预约时间</th>
				<th data-field="sendTimes" data-width="12%" data-visible="false">发送次数</th>
				<th data-field="creator" data-width="12%" data-visible="false">创建人员</th>
				<th data-field="createdDate" data-width="10%">创建时间</th>
				<th data-field="operate" data-width="10%" data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
			</tr>
		</thead>
	</table>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function(){
		$("#btnlist").on("click",".append", function () { 
			appendItem('/message/template/add', '添加消息模板', 'size-wide');
		});
		$("#btnlist").on("click",".modify", function () { 
			modifyItem('table','/message/template/edit/', '修改消息模板', null, 'size-wide');
		});
		$("#btnlist").on("click",".delete", function () { 
			deleteItem('table', '/message/template/delete/', '是否删除消息模板');
		});
		$("#btnlist").on("click",".view", function () { 
			viewItem('table', '/message/template/view/', '消息模板详情', null, 'size-wide');
		});
		$("#search").on("click", function () {
			$('#table').bootstrapTable('refresh');
		});
	});
	
	var pushMethodFormatter = function(value, row, index){
		var $option = $("#spushMethod option[value='"+ value +"']");
		if (!value || $option.length==0) {
			return "<span>"+ value +"</span>";
		}
		return "<span>"+ $option.text() +"</span>";
	}
	
	function operateFormatter(value, row, index) {
		var spArray = new Array();
		spArray.push('<i class="action fa-edit modify" title="修改">修改</i>');
		spArray.push('<i class="action fa-trash-o delete" title="删除">删除</i>');
        return "<span>"+ spArray.join('')+ "</span>";
    }
	
	var operateEvents = {
            'click .modify': function (e, value, row, index) {
            	modifyItem('table','/message/template/edit/', '修改消息模板', index, 'size-wide');
        	},
            'click .delete': function (e, value, row, index) {
            	deleteItem('table', '/message/template/delete/', '是否删除消息模板', index);
        	}
        };
	/*]]>*/
	</script>
	</div>
</body>
</html>